<%= form_for(@recipe, :html => {:multipart => true} ) do |f| %>
<% if @recipe.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this Recipe from being saved:</h2>

  <ul>
    <% @recipe.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div>
  <br>

  <%= f.file_field :image %><br>

</div>
<div class="field">
  <br><h3 class="h3mod"><%= f.label :name %></h3>
  <%= f.text_field :name, :size => "82%x2%" %><br>
</div>

<div class="field">
  <br><h3 class="h3mod"><%= f.label :ingredient %></h3><br>
  <%= f.text_area :ingredient, :size => "80%x8%" %><br>
</div>

<div class="field">
  <br><h3 class="h3mod"><%= f.label :steps %></h3><br>
  <%= f.text_area :steps, :size => "80%x8%"  %><br>
</div>



<div class="actions">
  <%= f.submit %>
</div>
<% end %>
