
  <%= link_to 'Create A New Recipe', new_recipe_path, class: "btn" %>
<p><br/></p>
    <div class="row">
      <% @recipe.each do |recipe| %>
        <div class="col-md-5">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title"><%= recipe.name %></h2>
              <h5> <%= 'Submitted By: ' %><%= recipe.user.name %></h5>
            </div>
            <div class="panel-body divwordwrap">

              <%= link_to (image_tag recipe.image_url(:large)) if recipe.image? %><br>
              <%= truncate(recipe.ingredient, :length => 50) %><br>
              <%= truncate(recipe.steps, :length => 50) %><br>
              <%= link_to recipe.image_url, recipe %><br>
              <br><div class="btn" >
                <%= link_to 'Leave a Comment', new_recipe_comment_path(recipe) %>
              </div>
              <div class="btn" >
                <%= link_to 'View Comments', recipe_comments_path(recipe) %>
                <%= recipe.comments.count %>
              </div>
              <br><div >
                <%= recipe.meal_id %>
              </div>
            </div>
          </div>

        </div>
      <% end %>
    </div>



  <div class="row">
    <div class = "col-md-12">
      <ul><%= paginate @recipe %><ul>
    </div>
  </div>
